body {
  margin: 0;
}
.navbar {
  background-color: #1E5D8D;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: flex-end;
}
.cont_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.navbar-nav {
  align-items: center;
  gap: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.navbar .logo {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}
.nav-item {
  padding: 0 1rem;
  font-size: 24px;
  font-family: "Konkhmer Sleokchher";

}
.navbar-toggler {
  border-color: #fff;
}
/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }
  .logo {
    max-width: 150px;
    margin: 0 auto;
  }
  .navbar-nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
  }
  .nav-item {
    margin: 0.5rem 0;
  font-family: "Konkhmer Sleokchher";
  font-size: 22px;
  }
  .nav-link {
    font-size: 18px;
  }
  .login {
    margin-top: 1rem;
  }
}
.container-md {
  margin: 0;
}
.fondo {
  margin-top: 8%;
}

/* INCIO */
.Inicio{
  margin-left: 4px;
  width: auto;
}
.Bienvenida {
  color: #000;
  width: 912px;
  height: 128px;
  text-align: center;
  font-family: "Suez One", serif;
  font-size: 48px;
}
.descripcion {
  text-align: justify;
  width: 688px;
  height: 200px;
  color: #000;
  font-family: Khmer;
  font-size: 24px;
}
.imgInicio {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.imagen_inicio {
  margin: 0 auto;
  margin-top: 16px;
  width: 100%;
  height: auto;
  max-width: 592px;
}
.btn_empezar {
  padding: 20px;
  color: #000;
  text-align: center;
  font-family: "Konkhmer Sleokchher";
  font-size: 24px;
  width: 100%;
  max-width: 272px;
  border-radius: 24px;
  background: #7FA5E5;
  margin: 16px auto;
  display: block;
  text-decoration: underline #7FA5E5;
}
.btn_empezar h3{
  margin: 0;
}
/* Para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
  .Bienvenida {
    font-size: 37px;
    width: 100%;
    height: auto;
    margin-bottom: 24px;
  }
  .descripcion {
    font-size: 22px;
    width: 100%;
    height: auto;
    text-align: justify;
  }
  .imgInicio {
    margin: 2rem auto;
    max-width: 90%;
  }
  .imagen_inicio {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  .btn_empezar {
    font-size: 1.2rem;
    width: 80%;
    max-width: 250px;
    text-decoration: underline #7FA5E5;
    margin: 24px auto;
  }
}
/* Para pantallas más grandes (tabletas y escritorios) */
@media (min-width: 796px) {
  .Bienvenida {
    font-size: 3rem;
    height: auto;
    margin-bottom: 48px;
    padding-top: 80px;
  }
  .descripcion {
    font-size: 24px;
    margin: 0 6rem;
    height: auto;
    margin-bottom: 48px;
  }
  .imgInicio {
    float: right;
    max-width: 45%;
    margin: 0;
  }
  .imagen_inicio {
    width: 100%;
    height: auto;
  }
}

/* ¿POR QUE ELEGIR CYTISUM? */
.feature-section {
  background-color: #F1F7FF; 
  padding: 8px 64px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.feature-title {
  font-family: "Suez One";
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  color: #000000; 
  padding: 50px 0;
  margin-top: 13%;
  font-weight: 400;
}
.feature-item {
  text-align: center;
  padding: 24px 48px;
  align-items: center;
}
.feature-item h4 {
  font-family: "Konkhmer Sleokchher";
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 16px;
  color: #000000; 
  font-size: 24px;
}
.feature-icon {
  font-size: 48px; 
  color: #F38181; 
  margin-bottom: 24px;
}
.pedido{
  text-align: justify;
  color: #000;
  font-family: Khmer;
  font-style: normal;
  line-height: normal;
  font-size: 24px;
}
/* Para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
  .feature-section {
    width: 100%;
    padding: 0 16px;
  }
  .pedido {
    margin: 0;
    width: auto;
    height: auto;
    flex-shrink: 0;
    color: #000;
    text-align: justify;
    font-family: Khmer;
    font-size: 22px;
    margin: 0 24px;
  }
  .feature-title {
    margin: 32px;
    margin-top: 64px;
    padding: 0;
    font-size: 32px;
  }
  .feature-icon {
    width: auto;
    height: auto;
  }
  .ft_icon{
    width: 35%;
    height: auto;
  }
  .feature-item h4 {
    font-size: 22px;
  }
}

/* EXPLORA EL PUNTO DE VENTA */
.Explora{
  margin-top: 168px; 
  color: #000;
  text-align: center;
  font-family: "Suez One", sans-serif;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
}
.titulos {
  font-family: "Konkhmer Sleokchher";
  text-align: center;
  font-weight: 400;
  margin-bottom: 24px;
  color: #000000; 
  font-size: 24px;
}
.slid{
  align-items: center;
  background: #F1F3FF;
  margin-top: 32px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none !important;
}
.carousel-control-prev-icon::after{
  content: '\2039';
  font-size: 4.5rem;
  color: black;
  font-weight: bold; 
}
.carousel-control-next-icon::after {
  content: '\203A';
  font-size: 4.5rem;
  color: black;
  font-weight: bold; 
}
.carousel-inner {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 20px; 
  border-radius: 8px; 
  width: 100%;
  max-width: 748px;
  max-height: 500px;
}
.descrip {
  padding: 8px;
  color: #000;
  text-align: center;
  font-family: "Konkhmer Sleokchher", sans-serif;
  font-size: 24px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin: 0 auto;
  min-height: 100px;
}
.texto {
  margin-bottom: 32px;
  margin-top: 24px;
}
/* Para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
  .titulos {
    font-size: 22px;
  }
  .carousel-inner {
    margin: 0;
    padding: 20px;
    width: 100%;
  }
  .carousel-item {
    width: 100%;
  }
  .Explora {
    margin-top: 120px;
    font-size: 32px;
    padding: 0 42px;
  }
  .descrip {
    font-size: 22px;
    width: 95%;
    margin: 0 auto;
    min-height: 100px;
    text-align: center;
  }
  .carousel-control-prev-icon::after,
  .carousel-control-next-icon::after {
    font-size: 2.5rem;
  }
}

/* COMO FUNCIONA CYTISUM */
.funcio{
  padding-left: 60px;
  margin-top: 216px;
  height: 12%;
  width: 100%;
  color: #000;
  text-align: left;
  font-family: "Suez One";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.gesti{
  color: #000;
  text-align: justify;
  font-family: Khmer;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 24%;
  flex-shrink: 0;
}
.dise{
  color: #000;
  text-align: justify;
  font-family: Khmer;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 20%;
  flex-shrink: 0;
}
.benefits .benefit-item {
  background: #E5F2FF;
  color: #000;
  padding: 10px;
  padding-top: 25px; /*distancia entre los lados pa no perderme */
  margin-bottom: 40px; /*distancia entre botones */
  border-radius: 5px;
  text-align: center;
  font-family: "Konkhmer Sleokchher";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 32%;
  width: 90%;
  flex-shrink: 0;
}
.barra{
  padding: 0px;
  margin-top: 168px;
  margin-left: 50px;
}
/* Para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
  .barra {
    width: 100%;
    margin-left: 0;
    margin-top: 24px;
  }
  .benefit-item{
    padding: auto;
    width: 100%;
  }
  .benefits{
    width: 100%;
    height: auto;
  }
  #ben {
    width: 100%;
    height: auto;
  }
  .funcio {
    font-size: 32px;
    margin: 0;
    margin-top: 120px;
    margin-bottom: 24px;
    height: auto;
    padding: 0 22px;
    text-align: center;
    width: 100%;
  }
  .gesti{
    height: auto;
    margin: 0;
    padding: 0 22px;
  }
  .dise {
    margin: 0;
    margin-top: 22px;
    height: auto;
    padding: 0 22px;
  }
}

/* BENEFICIOS */
.beneficios{
  color: #000;
  padding: 0px;
  text-align: center;
  font-family: "Suez One";
  font-size: 40px;
  font-style: normal;
  height: 80px;
}
.experiencia{
  align-items: center;
  color: #000;
  text-align: center;
  font-family: "Konkhmer Sleokchher";
  font-size: 32px;
  margin: 10px 10px;
  width: 464px;
  padding: 32px 40px;
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 30%;
  max-width: 464px;
}
.si{
  color: #000;
  text-align: justify;
  font-family: Khmer;
  font-size: 24px;
  padding: 24px 0;
  padding-bottom: 0;
}
.bene{
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: #F1F7FF;
  text-align: center;
  padding: 50px 32px;
  margin-top: 160px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.experiencia img{
  width: 100%;
  height: auto;
  max-width: 200px;
  max-height: 100px;
  object-fit: contain;
  margin-top: 20px;
}
/* Para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
  .beneficios {
    font-size: 32px;
  }
  .bene {
    flex-direction: column;
    align-items: center;
  }
  .experiencia {
    font-size: 22px;
    margin: 15px 0;
    flex: 1 1 100%;
    max-width: none;
  }
  .si {
    font-size: 22px;
    padding: 0 10px;
  }
  .experiencia img {
    max-width: 30%;
    max-height: none;
  }
}

/* PLANES */
.pricing-card {
  background: #E2EEFF; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
}
.pricing-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(57, 22, 255, 0.2);
}
.card-price {
  color: #000;
  font-family: "Konkhmer Sleokchher";
  font-size: 32px;
  font-weight: 400;
  margin-top: 16px;
}
.plan{
  color: #000;
  text-align: center;
  font-family: "Konkhmer Sleokchher";
  font-size: 32px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .pricing-card-basic, .pricing-card-standard {
    margin-top: 30px; /*para bajar los dos planes */
  }
}
.row.justify-content-center > div {
  margin-left: -35px;
  margin-right: -38px;
}
.azu{
  background: #C3D9F9;
  border-radius: 5px;
}
.planes{
  text-align: center;
  font-family: "Suez One";
  font-size: 40px;
  height: 64px;
  margin-top: 160px;
}
.usuario{
  color: #000;
  font-family: Khmer;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin-left: 24px;
}
.btn-custom {
  border-radius: 16px;
  background: #7FA5E5; 
  color: #000000; 
  border-radius: 8px;
  border: none; 
  padding: 10px 40px;
  font-weight: bold;
  font-size: 24px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-custom:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 10px rgb(79, 123, 255);
    background-color: #3482fe98; 
}
 /* Para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
  .pricing-card {
    margin-bottom: 30px;
  }
  .col-md-4 {
    width: 100%;
  }
  .plan {
    font-size: 24px;
  }
  .card-price {
    font-size: 24px;
  }
  .planes{
    font-size: 32px;
  }
  .usuario {
    font-size: 22px;
  }
  .btn-custom {
    font-size: 0.9rem;
    padding: 10px 20px;
  }
  .usuario li {
    padding-left: 10px;
  }
}

/* OBTENER PRUBA GRATIS */
.prueba{
  color: #000;
  font-family: "Suez One";
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  margin: 0;
  letter-spacing: 2px;
}
.obt{
margin-top: 160px;
}
.gratuita{
  width: 704px;
  height: 624px;
  float: left;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  border-radius: 2px;
  overflow: hidden; 
  margin-right: 64px;
  margin-left: 2%;
}
.contamos{
  color: #000;
  text-align: justify;
  font-family: Khmer;
  font-size: 24px;
  padding-left: 50px;
  padding-top: 20px;
  font-weight: 400;
  margin-right: 160px;
}
.ilimitados{
  color: #000;
  font-family: Khmer;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 20px;
  margin-bottom: 32px;
  margin-top: 24px;
}
.espaciado{
  padding: 0 0;
}
.btn_obtener {
  padding: 12px 20px;
  color: #000;
  text-align: center;
  font-family: "Konkhmer Sleokchher";
  font-size: 24px;
  width: 100%;
  max-width: 172px;
  border-radius: 24px;
  background: #7FA5E5;
  margin-right: 160px;
}
 /* Para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
  .btn_obtener{
    text-align: center;
    font-size: 22px;
    width: 100%;
    margin-top: 4%;
    margin-right: 8%;
  }
  .prueba {
    margin: 0;
    padding: 0;
    font-size: 32px;
    text-align: center;
    width: auto;
    letter-spacing: 0;
    margin-bottom: 16px;
  }
  .contamos {
    margin: 0;
    font-size: 22px;
    padding: 0 22px;
  }
  .list-unstyled{
    margin: 0;
    padding: 0 22px;
    font-size: 22px;
  }
  .gratuita {
    width: 100%;
    align-items: center;
    text-align: center;
    height: auto;
    max-width: 90%;
    margin: auto;
    margin-left: 5%;
    margin-bottom: 5%;
  }
}

 /* NUESTROS SOCIOS */
.socios{
  color: #000;
  text-align: center;
  font-family: "Suez One";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-top: 160px;
}
.confianza{
  color: #000;
  text-align: center;
  font-family: Khmer;
  font-size: 24px;
  margin: 24px 64px;
}
.carlos{
  color: #000;
  text-align: center;
  font-family: "Konkhmer Sleokchher";
  font-size: 24px;
}
.car{
  color: #000;
  text-align: center;
  font-family: "Konkhmer Sleokchher";
  font-size: 24px;
}
.car1{
  color: #000;
  text-align: center;
  font-family: "Konkhmer Sleokchher";
  font-size: 24px;
}
.funcionalidad{
  color: #000;
  text-align: justify;
  font-family: Khmer;
  font-size: 24px;
  font-style: normal;
  padding: 0 8px;
}
.testimonial-card {
  background-color: rgba(230, 241, 255, 1); /* Fondo azul claro */
  width: 95%;
  margin-left: 12px;
}
.testimonial-img img {
  width: 32%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(230, 241, 255, 1);
}
.move-down {
  margin-top: 50px;
}
  /* Para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
  .testimonial-card {
    margin: 0;
    padding: 0;
  }
  .car1 {
    padding: 0;
  }
  .confianza{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0 22px;
    text-align: justify;
  }
}

/* RESEÑAS */
.rese{
  color: #000;
  text-align: center;
  font-family: "Suez One";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 160px;
  margin-bottom: 0;
}
.comen{
  color: #000;
 text-align: center;
  font-family: Khmer;
  font-size: 24px;
  padding: 16px 112px 24px;
}
.review-card {
  background-color: rgba(229, 238, 250, 1);
  padding: 24px;
  border-radius: 16px;
  height: auto;
  width: 95%;
}
.POS::after {
  content: '';
  display: block;
  width: 100%; /* Ajusta el ancho de la línea */
  height: 2px;
  background: #B7CAE4;
  margin: 20px auto 0; /* Espacio encima del nombre */
}
.review-author {
  margin-bottom: 0;
  margin-top: 5px auto; /* Espacio entre la línea y el nombre */
}
.review-stars {
  font-size: 160%; /* Ajusta el tamaño de las estrellas */
  color: #FDFF84;
  -webkit-text-stroke: 1px #A2B403;
  display: flex;
  justify-content: left;
  margin-bottom: 15px;
  gap: 5%; /* Espacio entre estrellas */
  padding: 8px 32px;
}
.POS {
  color: #000;
  text-align: justify;
  align-items: center;
  font-family: Khmer;
  font-size: 24px;
  width: 100%;
  height: 25%;
  padding: 0 12px;
}
.review-author {
  color: #000;
  font-family: Khmer;
  font-size: 24px;
  padding-top: 16px;
}
.review-position {
  color: #000;
  font-family: Khmer;
  font-size: 24px;
}
.review-img {
  border-radius: 96px;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  margin-right: 10px;
}
.author-info {
  display: flex;
  align-items: center;
  justify-content: left;
}
.review-card-margin {
  margin-top: 40px; /* Ajusta entre el cuadro de jorge y ana */
}
/* Para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
  .res{
    margin-left: 3%;
  }
  .comen {
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 0;
    text-align: justify;
  }
}


/* FORMULARIO DE CONTACTO */
.cir_contacto {
  text-align: center;
  background: linear-gradient(180deg, rgba(235, 234, 255, 0.00) 49.9%, rgba(64, 89, 255, 0.20) 100%), #D0E3FF;
  border-radius: 32px 32px 0 0;
  height: 128px;  
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  margin-bottom: -15%;
}
.formulario {
  margin-top: 80px;
  padding: 40px;
  padding-bottom: 24px;
}
.contact-form {
  background: linear-gradient(180deg, #EAEFFF 36%, #EFF3FF 99.99%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-top: 0;
  border-radius: 15px;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
.form-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 5px;
  padding-top: 3%;
}
.form-subtitle {
  font-size: 24px;
  font-family: "Konkhmer Sleokchher";

  color: #333;
  margin-bottom: 30px;
}
.form-group label {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}
.contacto_to {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}
.submit-btn {
  background-color: #7FA5E5;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  width: 200px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}
.espa {
  padding-top: 80px;
  margin-top: 64px;
  margin-bottom: 160px;
}
/* Para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
  .contact-form{
    width: 100%;
  }
  .form-title {
    font-size: 28px;
  }
  .form-subtitle{
    font-size: 22px;
  }
  .cir_contacto{
    padding-bottom: 2%;
    height: 5%;
  }
  .formulario{
    margin-top: 40px;
  }
  .form-group label{
    font-size: 20px;
  }
  .submit-btn{
    font-size: 20px;
  }
}

/* FOOTER */
footer {
  margin-top: 80px;
  background-color: #5CA3D9;
}
.linea{
    background-color: black; 
    margin: 20px 0;
    text-align: center;
    height: 4px;
    margin-top: 50px;
    width: 87%;
    margin-left: 6%;
}
.condicion {
  color: #000;
  margin: 0;
  font-weight: bold;
}
/* Estilos para el contenedor de las imágenes */
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;  /* Para permitir que las imágenes se envuelvan */
  gap: 20px;  /* Espacio entre las imágenes */
  margin-top: 20px;
}
/* Estilos para cada imagen de red social */
.social-icons a {
  display: block;
  width: 60px;  /* Puedes ajustar el tamaño de las imágenes */
  height: 60px;
}
.social-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  /* Dos imágenes por fila */
  gap: 20px;  /* Espacio entre las imágenes */
  justify-items: center;  /* Centra las imágenes en su celda */
}
/* Ajustes para pantallas más pequeñas (responsive) */
@media (max-width: 950px) {
  .social-icons {
    grid-template-columns: 1fr;  /* En móviles, las imágenes se apilan en una sola columna */
  }
  .linea{
    margin-left: 5%;
    width: 87%;
  }
  .cuadrado {
    width: 50%;
  }
}
.cuadrado {
  background: #b9c3ff2c ;
  color: #000;
  border-radius: 24px;
  border: 2px solid #000;
  justify-content: center;
  text-align: center;
  font-family: "Suez One", serif;
  font-style: normal;
  width: 90%;
  height: 192px;
  font-size: 48px;
  padding: 32px;
  margin: 0 auto;
}
.text-uppercase{
  color: #000;
  font-size: 24px;
}
.text-reset_txt{
  color: #000;
  font-size: 24px;
  text-decoration: none;
}
.cuadrado h2 {
  margin: 0;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .cuadrado {
    font-size: 28px;
    padding: 30px; 
    width: 90%;
  }
  .cdro {
    margin: 0;
    margin-bottom: 22px;
  }
}
/* Opciones de cuenta*/
.dropdown-menu{
  border: #000;
  min-width: 180px;
  border-style:groove ;
}
/*login*/
.login {
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.dropdown-menu .dropdown-item {
  font-size: 14px;
  cursor: pointer;
}
/*Formulario de login*/
.logi {
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  background-color: #f8f9fa;
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.circu{
  text-align: center;
  background: linear-gradient(180deg, rgba(235, 234, 255, 0.00) 49.9%, rgba(64, 89, 255, 0.20) 100%), #D0E3FF;
  padding: 1rem;
  border-radius: 32px 32px 0 0;
  margin-bottom: 1rem;
  height: 112px;
  width: 100%;
  border-bottom-left-radius: 200%;
  border-bottom-right-radius: 200%;
  padding-bottom: 20%;
  margin-bottom: -15%;
}
.img_cytisumLogin{
  padding: 0;
  padding-top: 0;
  padding-left: 0;
  margin-right: 16px;
  font-size: 24px;
  margin-bottom: 5px;
  width: 204px;
  padding-top: 16px;
}
.inicio_sesion {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 8px;
  width: 100%;
  width: 100%;
  color: #919191;
  font-family: Khmer;
  background: #EDEDED;
}
.footer-links {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 1rem;
  color: #A191FB;
  font-family: Khmer;
font-size: 16px;
}
.footer-links a {
    color: #A191FB;
  text-decoration: none;
  font-family: Khmer;
  font-size: 16px;
}
.footer-links a:hover {
  text-decoration: underline;
}
.iniciar{
  padding: 0 40px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.mover{
  padding-top:80px;
}
.ingresar{
  border-radius: 16px;
  background: #7FA5E5;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s; 
}
.con{
  padding: 0 40px;
}
.sesion{
  text-align:center;
  color: #000;
  font-family: "Konkhmer Sleokchher";
  font-size: 24px;
  font-style: normal;
}
.contra{
  color: #A191FB;
  font-family: Khmer;
  font-size: 16px;
}

/* Formulario de compras */
.mov_compra{
  padding: 0;
}
.rell{
  max-width: 800px;
  height: 500px;
  margin: auto;
  padding: 2rem;
  background: linear-gradient(180deg, #FFF 36%, #F3F6FF 99.99%);
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 40px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.cir{
  text-align: center;
  background: linear-gradient(180deg, rgba(235, 234, 255, 0.00) 49.9%, rgba(64, 89, 255, 0.20) 100%), #D0E3FF;
  padding: 10px;
  border-radius: 32px 32px 0 0;
  height: 25%;
  width: 100%;
  border-bottom-left-radius: 200%;
  border-bottom-right-radius: 200%;
  padding-bottom: 2%;
  margin-bottom: -15%;
}
.imge{
  padding: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 24px;
  margin-bottom: 5px;
  width: 204px;
  padding-top: 16px;
  margin-right: 16px;
  margin: 8px;
}
.form-label_compra {
  padding: 0 40px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  max-width: 600px;
  font-family: "Konkhmer Sleokchher";
  font-size: 22px;
  padding:5px;
}
.conti{
  padding: 0 40px;
  margin-bottom: 0;
}
.toc{
  padding-top:18%;
}
.continuar{
  border-radius: 16px;
  background: #7FA5E5;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s; 
}
.compra{
  border-radius: 8px;
  background: #EDEDED;
  color: #919191;
  font-family: Khmer;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form-select_compra{
  font-family: Khmer;
  font-size: 16px;
}
#empleados {
  background-color: #EDEDED;
  color: #676666;
  border: 1px solid #ccc;
  border-radius: 8px;
}
#empleados:focus {
  background-color: white;
  border: 4px solid #b2d3f7;
  outline: none;
  transition: all 0.5 ease;
}

/*Formulario de tipo de pago*/
.mov{
  padding-top: 0px;
}
.relle {
  max-width: 800px;
  height: 500px;
  margin: auto;
  padding: 2rem;
  background: linear-gradient(180deg, #FFF 36%, #F3F6FF 99.99%);
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 40px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.circ {
  text-align: center;
  background: linear-gradient(180deg, rgba(235, 234, 255, 0.00) 49.9%, rgba(64, 89, 255, 0.20) 100%), #D0E3FF;
  padding: 10px;
  border-radius: 24px 24px 0 0;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  padding-bottom: 2%;
  margin-bottom: -15%;
}
.img_cytisum_pago {
  padding: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 24px;
  margin-bottom: 5px;
  width: 204px;
  padding-top:8px;
}
.lb_tip {
  font-weight: bold;
  padding: 0 40px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  max-width: 600px;
  font-family: "Konkhmer Sleokchher";
  font-size: 22px;
}
.cont_pago {
  padding: 0 40px;
}
.todo{
  padding-top:150px;
}
.elige{
  border-radius: 16px;
  background: #7FA5E5;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s; 
}
.tip{
  border-radius: 8px;
  background: #EDEDED;
  color: #919191;
  font-family: Khmer;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.select_pago{
  font-family: Khmer;
  font-size: 16px;
}

/*Crear cuenta */
.relleno {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  background: linear-gradient(180deg, #FFF 36%, #F3F6FF 99.99%);
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 24px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.informacion {
  text-align: center;
  background: linear-gradient(180deg, rgba(235, 234, 255, 0.00) 49.9%, rgba(64, 89, 255, 0.20) 100%), #D0E3FF;
  padding: 20px;
  padding-top: 0;
  border-radius: 32px 32px 0 0;
  height: 104px;  
  border-bottom-left-radius: 200%;
  border-bottom-right-radius: 200%;
  padding-bottom: 10%;
  margin-bottom: -15%;
}
.lb_cuenta {
  padding: 0 40px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  max-width: 600px;
  font-family: "Konkhmer Sleokchher";
  font-size: 20px;
}
.crear{
  border-radius: 16px;
  background: #7FA5E5;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s; 
}
.cr_cuenta{
  font-size: 16px;
  padding: 5px;
  margin-bottom: 8px;
  width: 100%;
  width: 100%;
  color: #919191;
  font-family: Khmer;
  background: #EDEDED;
}
.row.mb-3.control_cuenta{
  margin-bottom: 0;
  padding: 0 40px;
}
.distancia{
  padding: 0 30px;
}
.cont{
  padding-top: 40px;
}
.infocue{
  color: #919191;
  font-family: Khmer;
  font-size: 16px;
  margin-bottom: 5px;
  padding-left:40px;
}
.img{
  padding: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 24px;
  margin-top: 32px;
  margin-bottom: 5px;
  width: 100%;
  max-width: 204px;
  height: auto;
  padding-top:8px;
}
.modal_cuenta {
  max-width: 900px;
  margin: 30px auto;
}
.cuenta_cont {
  border-radius: 12px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .control {
    padding: 0 40px;
  }
  .row.mb-3.control {
    display: flex;
    justify-content: space-between;
  }
}